.detail_top {
  padding-bottom: 30rpx;
  border-bottom: 15rpx solid #f9f9f9;
  border-radius: 20px;

  .detail_swiper {
    swiper {
      height: 497rpx;
      text-align: center;

      swiper-item {
        img {
          width: 60%;
        }
      }
    }
  }

  .goods_price {
    padding: 10rpx 20rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36rpx;

    .price {
      color: var(--themeColor);
    }

    .shareAndCollect {
      display: flex;
      align-items: center;

      .share {

        .iconfont.icon-fenxiang {}

        button.default {}
      }

      .iconfont.icon-shoucang {}
    }
  }

  .goods_name {
    padding: 10rpx 20rpx;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 30rpx;
  }
}

//图文详情
.goods_info{
.goods_info_title{
  font-size: 28rpx;
  line-height: 40rpx;
  text-align: center;
  padding: 15rpx 0;
}}